  .scrollable{
    overflow-y: scroll;  
    display: flex;
    height: 100%;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    position: relative;
}

.scrollable .chatting{
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width:1px; 
    position: relative;
}

.scrollable .chatting::-webkit-scrollbar {
    display: none;
  }

    
#listUL{
    overflow-y: hidden;
    position: static;
    width: 100%;
    bottom: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#listUL li{
    width: 100%;
    text-decoration: none;
    flex-direction: row-reverse;
}

.sent{
    text-align: end;
    float: right;
    width: auto;
    max-width: 75%;
}

.green{
    margin: 5px 15px 5px 0;
    text-align: start;
    width: auto;
    font-size: 10px;
    color:#fff;
    padding: 10px;
    background-color: #333;
    border-radius: 15px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#sentlabel{
    color: #89888d;
    display: block;
    text-align: end;
    font-size: x-small;
}

.recieved{
    float: left;
    width: 45%;
    max-width: 45%;
    background-color: red;

}


.grey{
    display: inline-block;
    max-width: 85%;
    margin: 20px 0 5px 15px;
    font-size: 10px;
    text-align: start;
    color:#333;
    width: auto;
    padding: 5px;
    background-color:#f4f4f4 ;
    border-radius: 0px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.grey .mapview{
    margin: auto;
    display: flex;
    padding: 5px;
}

.black{
    max-width: 75%;
    text-align: center;
    width: auto;

    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px 15px 15px;
}

.add address{
    margin-top: 10px;
    padding-left: 15px;
}

.map{
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

.dateLabel{
    color: #fff;
    display: block;
    text-align: end;
    font-size: x-small;
}

.sk .bold{
    color: rgba(219, 154, 33, 0.822);
}

.headings
{
    color: rgba(219, 154, 33, 0.822); 
}

/* this css is used for embedded html in messages */
.bold{
    font-weight: bold;
}

.alink{
    color: goldenrod;
    transition: all 600ms ease;
    text-decoration: none;
    cursor:pointer;

}
.newlink{
    color:#006DBC;
    cursor:pointer;
}

.alink:hover{
    text-decoration: none;
    color: green;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    color: #000;
    text-align: center;
    height: auto;
    text-align: center;
}



  
.sendBar{
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    
    
}
.sendBar svg{
    margin: auto;
    height: 30%;
    min-height: 30%;
    color: #fff;

}

.sendBar input[type='text']{
    margin: auto;
    margin: 5px;
     border-radius: 20px;
    padding: 10px;
    color: #fff;
    float: left;
    width: 80%;
    height: 100%;
    outline-color: transparent;
    accent-color: transparent;
    background-color: #333; 
    outline: none;
    border-color: transparent;
}


::placeholder { 
    color: #8696a0;
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: #8696a0;
  }
  
  ::-ms-input-placeholder { 
    color: #8696a0;
  }


  .button-15 {
    margin: 4px;
    padding: 5px;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: -.022em;
    padding: 10px 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;   
}

.button-15:hover,.button-16:hover {
  transform: scale(1.1);
}

.button-15:active, .button-16:active {
  transform: translateY(2px);
}
  
 .button-15,.button-16 {
    border: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    transition: transform 0.2s;
    -webkit-touch-callout: none; /* Disable touch callout menu */
      user-select: none; /* Disable text selection */
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
  }

  .button-16 {
    margin: 2px;
    padding: 5px;
    background-color: #333;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: -.022em;
    padding: 10px 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    
  }
  
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  15% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  30% { transform: rotate(-8.0deg) }
  40% { transform: rotate(14.0deg) }
  50% { transform: rotate(-4.0deg) }
  60% { transform: rotate(10.0deg) }
  70% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
 100% { transform: rotate( 0.0deg) }
}
@media (min-width: 868px) {
    .scrollable {
      display: block;
      
    }
 
    .chat-box{
        height: 600px;
    }
  }