
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.sub-header {
  background-color: #f4f4f4;
  padding: 20px;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.left-content {
  flex: 1;
}

.right-icons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.right-icons ul li {
  display: inline-block;
  margin-left: 10px;
}

.right-icons ul li:first-child {
  margin-left: 0;
}

.right-icons ul li a {
  color: #333;
  text-decoration: none;
}

/* Background Header */
.background-header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.header-area {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align the nav items to the right */
  }
  
  
  .nav li {
    margin-left: 20px;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    margin-right: 20px;
  }
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-left: 20px;
  }
  
  .nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  
  .nav li a:hover {
    text-decoration: underline;
  }


.main-navv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.navv {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Align the nav items to the right */
}


.navv li {
  margin-left: 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  margin-right: 20px;
}

.navv {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navv li {
  margin-left: 20px;
}

.navv li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navv li a:hover {
  text-decoration: underline;
}
  /* Computer Repair Page styles */
  .computer-repair {
    background-color: #f4f4f4;
    padding: 40px 0;
  }

  .computer-repair-heading {
    text-align: center;
    margin-bottom: 40px;
  }

  .computer-repair-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .computer-repair-info {
    display: flex;
    justify-content: space-between;
  }

  .computer-repair-info img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }

  .computer-repair-details {
    flex: 1;
    margin-left: 40px;
  }

  .computer-repair-details h2 {
    margin-top: 0;
  }

  .computer-repair-details p {
    margin-bottom: 20px;
  }

  .computer-repair-details .main-button-red a {
    margin-top: 10px;
  }

  /* Developers Section styles */
  .developers-section {
    background-color: #f4f4f4;

  }

  .developer {
    display: inline-block;
    max-width: 300px;

    background-color: #fff;
    border-radius: 4px;
  }

  .developer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .developer .developer-name {
    margin-top: 10px;
    font-weight: 500;
  }

  /* Footer styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }


  .service-center-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .service-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .service-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .service-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .service-description {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
  }
  
  .section-contact {
    text-align: center;
    padding: 40px 0;
  }
  
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .contact-form input[type="submit"] {
    color: #fff;
    background-color:#0575E6;
    border: none;
    cursor: pointer;
    padding: 10px ;
    border-radius: 4px;
  }
  
  /* Chat Box */
  .chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .chat-box img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
    

  
    
  .fa-2x {
    font-size: 1.5em;
  }
  
  .app {

    border-radius: 20px;
    
   
  }
  
  .app-one {
    background-color: #333;
    height: 620px;
    width: 100%;
    border-radius: 20px;
    border-radius: 20px;
  }


  .side {
    padding: 0;
    margin: 0;
    height: 100%;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  }
  .side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
  }
  
  .side-two {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
  
    transition: left 0.3s ease;
  
  }
  
  
  .heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
    border-radius: 20px;
    border:  1px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .heading-avatar {
    padding: 0;
    cursor: pointer;
  
  }
  
  .heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  
  .heading-name {
    padding: 0 !important;
    cursor: pointer;
  }
  
  .heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    padding: 5px;
    padding-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    display: block;
  }
  .heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
  }
  .heading-compose {
    padding: 0;
  }
  
  .heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
  }
  
  .heading-dot {
    padding: 0;
    margin-left: 10px;
  }
  
  .heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
  }
  
  .searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
  }
  
  .searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    
  }
  
  
  /*#searchBox-inner input {
    box-shadow: none;
  }*/
  
  .searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  
  .sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #333;
    overflow-y: auto;
    border-right: 1px solid #333;
    /* height: calc(100% - 120px); */
  }
  
  .sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #000;
    height: 70px;
    margin: 0 !important;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  }
  

  
  .sideBar-avatar {
    text-align: center;
    padding: 0 !important;
  }
  
  .avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
  }
  
  .sideBar-main {
    padding: 0 !important;
  }
  
  .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  
 
  
  .name-meta {
    font-size: 15px;
    /* padding: 1% !important; */
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
  }
  
  .sideBar-time {
    padding: 10px !important;
  }
  
  .sideBar-body:hover {
    background-color: #000;
}
.name-meta:hover {

  color: #fff;
}
  
  .time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(255, 255, 255, .4);
    vertical-align: baseline;
  }
  
  /*New Message*/
  
  .newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%;
  }
  .newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
  }
  
  .newMessage-main {
    padding: 10px 16px 0 15px !important;
    margin: 0 !important;
    height: 60px;
    margin-top: 30px !important;
    width: 100%;
    z-index: 1001;
    color: #fff;
  }
  
  .newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px !important;
  }
  .newMessage-back {
    text-align: center;

    padding: 12px 5px !important;
    display: block;
    cursor: pointer;
  }
  .newMessage-back i {
    margin: auto !important;
  }
  
  .composeBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
  }
  
  .composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #333;
  }
  
  .composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  
  .compose-sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #333;
    overflow-y: auto;
    border: 1px solid #333;
    height: calc(100% - 160px);
  }
  
  /*Conversation*/
  
  .conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    display: none;
    /* width: 100%; */
    padding-left: 50px;
    border-left: 1px solid rgba(0, 0, 0, .08);
    /* overflow-y: auto; */
  }
  
  .message {
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
    background-size: cover;
    overflow-y: scroll;
    /* overflow: hidden; */
    background-color: #f0f0f0;
    border: 1px solid #333;
    height: calc(100% - 120px);
    background: #f0f0f0;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


  }

  .message::-webkit-scrollbar {
    width: 0em; /* Adjust the width as per your preference */
  }
  
  .message::-webkit-scrollbar-track {
    background-color: transparent; /* Change to your desired background color */
  }
  
  .message::-webkit-scrollbar-thumb {
    background-color: #888; /* Change to your desired thumb color */
  }
  .message-previous {
    margin : 0 !important;
    padding: 0 !important;
    height: auto;
    width: 100%;
  }
  .previous {
    font-size: 15px;
    text-align: center;
    padding: 10px !important;
    cursor: pointer;
  }
  
  .previous a {
    text-decoration: none;
    font-weight: 700;
  }
  
  .message-body {
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    height: auto;
  }
  
  .message-main-receiver {
    padding: 10px 20px;
    max-width: 60%;
  }
  
  .message-main-sender {
    padding: 3px 20px !important;
    /* margin-left: 75% !important; */
    margin-bottom: 10px;
    /* max-width: 60%; */
    text-align: right;
    
  }
  
  .message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap:break-word;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 0 !important;
  }
  
  .message-time {
    margin: 0 !important;
    margin-left: 50px !important;
    font-size: 20px;
    text-align: right;
    color: #9a9a9a;
  
  }
  
  .receiver {
    width: auto !important;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 10px 0;
    background: #ffffff;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    word-wrap: break-word;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .sender {
 
    width: auto !important;
    background: #333;
    color: #fff;
    border-radius: 10px 10px 0 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 4px 10px 7px !important;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: inline-block;
    word-wrap: break-word;
  }
  
  
  /*Reply*/
  
  .reply {
    height: 60px;
    width: 100%;
    /* background-color: #333; */
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    border-radius: 20px;
    border: 1px solid #000;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  }
  
  .reply-emojis {
    padding: 5px !important;
  }
  
  .reply-emojis i {
    text-align: center;
    padding: 5px 5px 5px 5px !important;
    color: #93918f;
    cursor: pointer;
  }
  
  .reply-recording {
    padding: 5px !important;
  }
  
  .reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
  }
  
  .reply-send {
    padding: 5px !important;
  }
  
  .reply-send i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
  }
  
  .reply-main {
    padding: 2px 5px !important;
  }
  
  .reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
  }
  
  .reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
  }
  